#query {
    line-height: 30em;
}

#expert-button {
    margin: 2em;
}

#issue-textfield {
    margin-top: 25px;
}

.input-area {
    margin-top: 50px;
}

#loading-icon {
    margin: auto;
    margin-top: 50px;
}

.response {
    text-align: left;
    margin-bottom: 30px;
}

.no-response-placeholder {
    margin-top: 20px;
    color: gray;
}