#query {
    line-height: 30em;
}

#expert-button {
    margin: 2em;
}

#issue-textfield {
    margin-top: 25px;
}

.input-area {
    margin-top: 50px;
}

.loading-icon {
    margin-top: 50px;
}

.response {
    text-align: left;
    margin-bottom: 30px;
}

.placeholder-text {
    color: gray;
}

.filter-input-box {
    margin-top: 20px;
}

.results-box {
    margin-top: 20px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}